<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rent_a_Car_Uygulaması.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Rent_a_Car_Uygulaması.Properties.Settings.Kullanici_BilgilerConnectionString"
            connectionString="Data Source=DESKTOP-MONNBD4\TEW_SQLEXPRESS;Initial Catalog=&quot;Kullanici Bilgiler&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Rent_a_Car_Uygulaması.Properties.Settings.kullanicibilgileriConnectionString"
            connectionString="Data Source=DESKTOP-MONNBD4\TEW_SQLEXPRESS;Initial Catalog=kullanicibilgileri;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Rent_a_Car_Uygulaması.Properties.Settings.aracbilgileriConnectionString"
            connectionString="Data Source=DESKTOP-MONNBD4\TEW_SQLEXPRESS;Initial Catalog=aracbilgileri;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Rent_a_Car_Uygulaması.Properties.Settings>
            <setting name="KullaniciAdi" serializeAs="String">
                <value />
            </setting>
            <setting name="Sifre" serializeAs="String">
                <value />
            </setting>
            <setting name="BeniHatirla" serializeAs="String">
                <value>False</value>
            </setting>
        </Rent_a_Car_Uygulaması.Properties.Settings>
    </userSettings>
</configuration>